<div class="container">
  <h2>Registered Clients</h2>
  <a
    class="btn btn-success"
    style="float:right"
    ui-sref="clients:new">New Client</a>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Lastname</th>
      <th>Phone Number</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="client in $ctrl.listClients">
      <td>{{client.name}}</td>
      <td>{{client.lastName}}</td>
      <td>{{client.phoneNumber}}</td>
      <td>
        <a
          class="glyphicon glyphicon-trash text-danger"
          title="Delete"
          href="#"
          ng-click="$ctrl.deleteClient(client._id)"
        >
        </a>
        <a
          class="glyphicon glyphicon-pencil text-success"
          href="/clients/{{client._id}}"
          title="Update"
        >
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<br><br>
